.loader {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.rounded-card-main{
    margin-bottom: 8px;
    border: 2px solid #4a90e2;
    text-align: left;
    position: relative;
    padding-bottom: 27px;
    padding-top: 10px;
}

.card-footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    padding-top: 10px;
}